.git/Source/_UpgradeReport_Files
.git/Source/Backup/
.git/Source/UpgradeLog.htm
.git/Source/Changelog.txt
.git/Source/UpgradeLog.XML
.git/Source/AGENTIK.suo
.git/Source/AGENTIK.v11.suo
.git/Source/AGENTIK/bin/
.git/Source/AGENTIK/obj/
.git/Source/NotiyIconWpf/obj/
.git/Source/NotiyIconWpf/bin/
.git/Source/Updater/obj/
.git/Source/Updater/bin/
